// FONTS
$main-font-family: 'Montserrat', 'Arial', sans-serif;

//select-plugin
$select-height: 40px;
$select-dropdawn: #b3b6b3;
$select-input: #cbf7cb;
$select-item-hover: #dfc787;
$selected-item-color: rgba(196, 62, 62, 0.466);

//media
$mobile-bp-max: 767px;
$mobile-w-min: 310px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1210px;
$desktop-bp-max: 1679px;
$ladge-desktop-bp-min: 1680px;
$ladge-desktop-w: 1342px;
